{% extends 'index.html' %} 

{% block content %}
<div class="row" style="padding: 20px;">
      <div class="card mb-4">
        <div class="card-body">
        <form action="/note/{{note.id}}" method="POST">
            {% csrf_token %} 
          <div>
            <label for="defaultFormControlInput" class="form-label">Title</label>
            <input
              name="title"
              type="text"
              class="form-control"
              id="defaultFormControlInput"
              placeholder="John Doe"
              aria-describedby="defaultFormControlHelp"
              value="{{note.title}}"
            />
            
          </div>
          <div>
            <label for="defaultFormControlInput" class="form-label">Text</label>
            <textarea name="text" id="" class="form-control" cols="30" rows="10">{{note.text}}</textarea>
          </div>
          <div style="padding-top: 10px;">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/"><button type="button" class="btn btn-secondary">Close</button></a>
            <a href="/note-delete/{{note.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
          </div>
        </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}